<!--usamos la estructura de bootstrap-->
<div class="row">
    <div class="col-lg-4">
        <div class="list-group">
          <h1 class="text-center">PIANO</h1>
            <a (click)="aplicarSonido(1)" id="tecla" class="list-group-item list-group-item-action" style="background-color: black;">DO</a>
            <a (click)="aplicarSonido(2)" id="tecla" class="list-group-item list-group-item-action" style="background-color: white;">RE</a>
            <a (click)="aplicarSonido(3)" id="tecla" class="list-group-item list-group-item-action" style="background-color: black;">MI</a>
            <a (click)="aplicarSonido(4)" id="tecla" class="list-group-item list-group-item-action" style="background-color: white;">FA</a>
            <a (click)="aplicarSonido(5)" id="tecla" class="list-group-item list-group-item-action" style="background-color: black;">SOL</a>
            <a (click)="aplicarSonido(6)" id="tecla" class="list-group-item list-group-item-action" style="background-color: white;">LA</a>
            <a (click)="aplicarSonido(7)" id="tecla" class="list-group-item list-group-item-action" style="background-color: black;">SI</a>
          </div>
    </div>
</div>



  <!-- <audio controls>
    <source src="../assets/sonidos/note2.wav">
  </audio> -->